@import "www/sass/style.scss";
#bld_tab_wrap {


    margin-top: 303px;

    #all_buildings {
        position: absolute;
        margin-top: -5px;
        margin-left: 67px;
    }
    h2 {
        margin-left: 105px;
        margin-bottom: 44px;
        color: white;
        font-size: 25px;
    }
    .building_wrap {
        width: 420px;
        //margin-left: 500px;
        margin-right: 132px;
        transition: all .5s !important;
        //height: 4px;
    }
    .building {
        position: absolute;
        //float: left;
    }
    .M200 {
        top: 0px;
        left: 10px;
    }
    .M250 {
        top: 79px;
        left: -23px;
    }
    .M600 {
        top: 7px;
        left: 154px;
    }
    .M201 {
        top: 3px;
        left: 231px;
    }
    .F200 {
        top: 5px;
        left: 322px;
    }
}
