
.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
    display: block !important;
    transition: all .5s !important;
    /* this will have a 100ms delay between each successive leave animation */
    transition-delay: 0.1s;
    /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
    transition-duration: 0s;
}

.row {
    padding: 0px 30px !important;
}

.animate-if {
    background: white;
    border: 1px solid black;
    padding: 10px;
}

.accordion_container {
    //transition: all .5s !important;
    //max-height: 603px;
    // -webkit-transition: max-height 0.5s;
    // -moz-transition: max-height 0.5s;
    // transition: max-height 0.5s;
    ion-scroll {
        background-color: #333;
        max-height: 539px;
        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;
        //         -webkit-transition: max-height 0.5s;
        // -moz-transition: max-height 0.5s;
        // transition: max-height 0.5s;
        // transition: all .5s !important;
    }
}

.list_title {
    position: absolute;
    font-family: "Gotham Book";
    font-size: 20px;
    width: 712px;
    padding-bottom: 10px;
    border-bottom: solid 1px #999;
}

.first_row {
    margin-top: 40px !important;
}
.first_row_row {
    margin-top: 50px !important;
}

.gallery {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    //margin-top: -15px;
    //margin-left: 12px !important;
    //height: 549px;
    // -webkit-transition: max-height 0.5s;
    // -moz-transition: max-height 0.5s;
    // transition: max-height 0.5s;
    //height: 549px;
    background-color: #333333;
    //transition: all .5s !important;
}

.pict {
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
}

.col {
    padding: 0px !important;
}

$col_height: 165px;

.cust_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 $col_height !important;
    -moz-box-flex: 0;
    -moz-flex: 0 0 $col_height !important;
    -ms-flex: 0 0 $col_height !important;
    flex: 0 0 $col_height !important;
    min-width: 152px !important;
    max-height: 131px;
    margin-bottom: 6px !important;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
    background: none !important;
    border: none !important;
    img {
        max-height: 92px;
    }
    a {
        text-decoration: none;
        background: none !important;
        img {
            min-height: 92px;
            min-width: 165px;
        }
    }
    background: none !important;
    border: none !important;
    .image_name {
        font-size: 12px;
        font-family: "Gotham Narrow Book";
    }
}
