// Presentation
.presentation_titles {
    margin-left: 36px;
    color: #DAD9D9;
    font-family: "Gotham Light";
    #presentation_title {
        font-size: 22px;
    }
    #presentation_subtitle {
        font-size: 20px;
        margin-top: 5px;
    }
}

.presenation_container {
    margin-top: 53px;
    .presentation_gal {
        background-color: black !important;
        margin-left: 0px;
        min-height: 743px;
        .item {
            background-color: black !important;
        }
        .col_slide {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 132px;
            -moz-box-flex: 0;
            -moz-flex: 0 0 132px;
            -ms-flex: 0 0 123px;
            flex: 0 0 132px;
            max-width: 132px;
            max-height: 74px;
            //margin-top: 5px;
            border: none;
            margin: 5px;
            img {
                max-height: 74px;
            }
        }
        .col_slide.active {
            border-color: white;
            border-width: 3px;
            border: solid;
            color: white;
        }
    }
    .close_button {
        position: absolute;

    right: 40px;
    top: 30px;
        //font-size: $close_button_size;
        .ion-close::before {
            color: #808080;
        }
    }
}

#presentation_controls {
    position: absolute;
    background: black;
    left: 29px;
    // margin-top: 200px;
    width: 768px;
    .counter {
        font-size: 37px;
        color: #E5E5E5;
        font-family: "Gotham Book";
        line-height: 60px;
        margin-top: 11px;
        margin-left: 54px;
    }
    .pres_button {
        width: 172px;
        height: 75px;
        border: solid 1px;
        margin-left: 5px;
        .skipbackward_button {
            i {
                font-size: 80px;
            }
        }
        i {
            font-size: 60px;
            margin-left: 70px;
            margin-right: auto;
            line-height: 75px;
        }
    }
    li {
        cursor: pointer;
        float: left;
    }
}
