// Presentation
.presenation_container {
    margin-top: 53px;
    .presentation_titles {
        margin-left: 55px;
        color: #DAD9D9;
        font-family: "Gotham Light";
    }
    .presentation_title {
        font-size: 22px;
    }
    .presentation_subtitle {
        font-size: 20px;
    }
    .presentation_gal {
        margin-left: 43px;
        min-height: 743px;
        .col_slide {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 215px;
            -moz-box-flex: 0;
            -moz-flex: 0 0 215px;
            -ms-flex: 0 0 215px;
            flex: 0 0 215px;
            max-width: 215px;
            max-height: 115px;
            //margin-top: 5px;
            border: none;
            margin: 5px;
            img {
                max-height: 115px;
            }
        }
    }
}

#presentation_controls {

    background: black;
    margin-left: 55px;
    margin-top: 200px;
    width: 768px;
    .counter {
        font-size: 60px;
        line-height: 60px;
    }
    .pres_button {
        width: 200px;
        height: 89px;
        border: solid 1px;
        i {
            font-size: 60px;
            margin-left: 80px;
            margin-right: auto;
            line-height: 80px;
        }
    }
    li {
        cursor: pointer;
        float: left;
    }
}

.close_button {
    float: right;
    font-size: 25px;
    margin-right: 100px;
    .ion-close::before {
        color: #808080;
    }
}
