// @import "www/sass/custom_variables.scss";
#webcams_view {
    margin-top: 47px;
}

#webcams_view > div:nth-child(4) > ion-item > a {
    //background: black;
}

.webcam_title {
    margin-top: 34px;
    width: 536px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    span {
        margin-left: 18px;
        font-family: "Gotham Book";
        font-size: 22px;
        color: white;
    }
}

.camera_buttons {
    .item-complex .item-content,
    .item-radio .item-content {
        background-color: rgba(0, 0, 0, 0);
    }
    //     .item-complex .item-content.active, .item-radio .item-content.active{
    //             background-color: #999;
    // }
    margin-top: 17px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    ion-item {
        color: white;
    }
    ion-item.active {
        background: #999;
    }
    item.active {
        background: #999;
    }
    .item {
        border-color: #4D4D4E;
        background: black;
        min-width: 500px;
    }
    .short_btn {
        min-width: 245px !important;
        //margin-right: 5px;
        float: left;
        //margin-top: 5px;
        margin-bottom: 10px;
    }
    .short_btn.active {
        background: #999;
    }
    .camera1,
    .camera3 {
        margin-right: 5px;
    }
    .camera2,
    .live {
        margin-left: 5px;
    }
    .panorama {
        max-width: 500px;
    }
    .panorama.active {
        background: #999 !important;
    }
    ion-item.disabled {
        color: gray !important;
        // a{
        //   color: red !important;
        // }
    }
}

#webcam_content {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    .close_button {
        position: absolute;
        right: 12px;
        top: 10px;
        //font-size: $close_button_size;
        .ion-close::before {
            color: #808080;
        }
    }
}

#webcam_assets {
    width: 501px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    .cust_col{
        min-width: 153px !important;
        img{
           min-width: 140px !important;
        }
    }
    .row{
        padding-left: 0px !important;
    }
    .item {
        color: white;
        width: 501px !important;
    }
    .scroll {
        margin-top: 10px;
        max-width: 500px !important;
        margin-left: auto;
        margin-right: auto;
    }
    ion-item.item-stable.item {
        color: white;
        border-color: #4D4D4E;
        background-color: black;
        margin-bottom: 10px;
    }
    ion-item.item-stable.item.active {
        color: white;
        border-color: #4D4D4E;
        background-color: #4D4D4E !important;
        margin-bottom: 10px;
    }
    .accordion_container {
        background-color: #333 !important;
    }
    .image_name {
        font-family: "Gotham Narrow Book";
        font-size: 12.5px;
    }
}

#panorama_title {
    margin-top: 88px;
}

.panorama_titles {
    font-family: "Gotham Book" !important;
    font-size: 22px;
}

#panorama_view {
    height: 190px;
    width: 676px;
    margin-top: 14px;
    overflow: hidden;
}

#panorama_view img {
    max-width: 100%;
    max-height: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.square {
    position: absolute;
    width: 451px;
    height: 190px;
    border: solid 3px;
    border-color: white;
    background: rgba(255, 255, 255, 0.01);
    z-index: 99999999;
}

.zoom_buttons {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    //margin-right: 800px;
    float: right;
    div {
        width: 172px;
        height: 76px;
        float: right;
        margin-left: 5px;
        border: solid 1px;
        border-color: #999;
        color: white;
        font-size: 60px;
        text-align: center;
        line-height: 60px;
    }
}

//live
.center {
    min-width: 102px;
    min-height: 102px;
    float: left;
}

.cross {
    width: 500px;
    height: 491px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    .container_h,
    .container_v {
        //height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .container_h {
        height: 200px;
         
    }
    .container_v {
        height: 102px;
        width: 500px;
    }
    .arrow {
        // -webkit-transform-origin: 30% 55%;
        // -moz-transform-origin: 30% 55%;
        // -o-transform-origin: 30% 55%;
        //transform-origin: 30% 55%;
        width: 102px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #333333;
    }

    .top,
    .down {
        min-height: 200px;
        min-width: 88px;
        svg {
            margin-left: 19px;
            margin-top: 51px;
        }
    }
    .left,
    .right {
        float: left;
        min-width: 199px;
        min-height: 88px;
        svg {
            margin-left: 68px;
        }
    }
    .top {}
    .right {
        svg {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    .down {
        svg {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    .left {
        svg {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }
}
