// @import "www/sass/custom_variables.scss";
@import "www/sass/style.scss";
#webcam_content{
      width: 696px;
    margin-left: auto;
    margin-right: auto;

}
#panorama_view {
  
    height: 242px;
    margin-top: 135px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
