// @import "www/sass/custom_variables.scss";
#webcams_view {
    margin-top: 47px;
}
#webcams_view > div:nth-child(4) > ion-item > a{
    background-color: black !important;


}

.webcam_title {
    margin-top: 34px;
    width: 536px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    span {
        margin-left: 18px;
        font-family: "Gotham Book";
        font-size: 22px;
        color: white;
    }
}

.camera_buttons {
    margin-top: 17px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    ion-item{
        color: white;
    }
    ion-item.active{
        background: #999;
    }
    .item {
                border-color: #4D4D4E;

        background: black;
        min-width: 500px;
    }
    .short_btn {
        min-width: 245px !important;
        //margin-right: 5px;
        float: left;
        //margin-top: 5px;
        margin-bottom: 10px;
    }
    .short_btn.active{
        background: #999;
    }
    .camera1,
    .camera3 {
        margin-right: 5px;
    }
    .camera2,
    .live {
        margin-left: 5px;
    }
    .panorama{
        max-width: 500px;
    }
}

#webcam_content {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

#webcam_assets {
    
    margin-left: auto;
    margin-right: auto;
    .item{
                color: white;

        width: 501px !important;
    }
    .scroll {
        margin-top: 10px;
        max-width: 500px !important;
        margin-left: auto;
        margin-right: auto;
    }
    ion-item.item-stable.item{
        color: white;
        border-color: #4D4D4E;
        background-color: black;    
        margin-bottom: 10px;

    }

    ion-item.item-stable.item.active{
        color: white;
        border-color: #4D4D4E;
        background-color: #4D4D4E !important;    
        margin-bottom: 10px;

    }
    .accordion_container{

                background-color: #333 !important;    

    }
    .image_name{
        font-family: "Gotham Narrow Book";
        font-size: 12.5px;
    }

}

#panorama_title {
    margin-top: 88px;
}
.panorama_titles{
    font-family: "Gotham Book" !important;
    font-size: 22px;
}

#panorama_view {
    height: 242px;
    margin-top: 14px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.square {
    position: absolute;
    width: 426px;
    height: 186px;
    border: solid 3px;
    border-color: white;
    background: rgba(255, 255, 255, 0.01);
    z-index: 99999999;
}
