/*
To customize the look and feel of Ionic, you can override the variables
in Ionic's _variables.scss file.
For example, you might change some of the default colors:
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our Ionicon font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// My custom color. I’ll override the default for $positive.
// Note that it’s before we load the rest of Ionic.
// This is important!
$stable: #666666 !default;
$base-background-color: #000 !default;
$base-color: #999999 !default;
$button-light-active-bg: #262626 !default;
$button-stable-active-border: #333333 !default;
$item-stable-bg: #262626 !default;
$item-stable-border: #262626 !default;
$item-stable-active-bg: #262626 !default;
$item-stable-active-border: #262626 !default;
$corner-bevel: 30;

$positive: white !default;



@mixin corner-bottom-both-bevel($kolor) {
    border-color: $kolor transparent transparent transparent;
    border-width: #{$corner-bevel}px #{$corner-bevel}px 0 #{$corner-bevel}px;
    background-color: none;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/gotham-book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gotham-book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-book.svg#65526539dec42e535893223c14767f58') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Narrow Book';
  src: url('../fonts/GothamNarrow-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamNarrow-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GothamNarrow-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GothamNarrow-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GothamNarrow-Book.svg#10b925c554673ed1307f253dfbf21ea0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}



// Include all of Ionic.
@import "www/lib/ionic/scss/ionic";