@import "www/sass/custom_variables.scss";
.tabs {
    top: 0px !important;
}

#header {
    a {
        span {
            color: white;
            font-family: "Gotham Book";
            font-size: 17px;
            line-height: 47px;
            height: 10px;
        }
    }

    a.title_tab {
        height: 47px;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #48484A;
        //border-right: 1px solid #fff;
    }

    a.webcam_tab.tab-item-active::after {
    content: '';
    position: absolute;
    left: 655px;
    top: 23px;
    display: inline-block;
    height: 10px;
    width: 86px;
    border-bottom: 1px solid white;
    margin-top: 5px;
        //        max-width: 90px;
    }
    a.model_tab.tab-item-active::after {
            content: '';
    position: absolute;
    left: 526px;
    top: 23px;
    display: inline-block;
    height: 10px;
    width: 65px;
    border-bottom: 1px solid white;
    margin-top: 5px;
    }
    a.screen12_tab.tab-item-active::after {
            content: '';
    position: absolute;
    left: 371px;
    top: 23px;
    display: inline-block;
    height: 10px;
    width: 94px;
    border-bottom: 1px solid white;
    margin-top: 5px;
    }
    #main_title{
        padding-right: 90px;
    padding-left: 40px;
    }
}

// SUBHEADER:
ion-top-menu {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #333;
    color: white;
    z-index: 10;
    top: 45px !important;
    transition: all .5s;
}

ion-content#main_menu {
    top: 120px;
    position: absolute;
    //    margin-top: 47px;
    transition: all .5s !important;
}

ion-top-menu .item {
    background: none;
    border-color: #222;
    color: white;
}

.bevel {
    @include corner-bottom-both-bevel($button-stable-active-border);
    width: 357px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    height: 0;
    div {
        margin-top: -26px;
        margin-left: auto;
        margin-right: auto;
        width: 94px;
    }
}

.building_wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#building_menu_wrap {
    .building_wrap {
        width: 420px;
        transition: all .5s !important;
        //height: 4px;
    }
    .building {
        position: absolute;
        //float: left;
    }
    .M200 {
        top: 0px;
        left: 31px;
    }
    .M250 {
        top: 66px;
    }
    .M600 {
        top: 0px;
        left: 156px
    }
    .M201 {
        top: 0px;
        left: 219px;
    }
    .F200 {
        top: 0px;
        left: 288px;
    }
}

.empty {
    background-color: rgba(0, 0, 0, 0);
}

#webcam_assets {
    position: relative !important;
}

// CUSTOMIZED SHIT:
.image_name {
    color: $base-color !important;
    text-decoration: none;
}
