@import "www/sass/custom_variables.scss";

.close_button{
    font-size: $close_button_size;

}

#home_tab{
    display: none;
    
}
#home_bg {
    width: 100%;
    height: 100%;
    background-image: url('firstbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title_link_image {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('capitol_crossing.svg');
}

.tabs {
    top: 0px !important;
    height: 84px !important;
}

.item.item-stable {
    color: #999 !important;
}

ion-item {
    font-family: "Gotham Book";
    font-size: 22px;
}

.item {
    .icon {
        color: white;
    }
}

#header {
    a {
        span {
            color: white;
            font-family: "Gotham Book";
            font-size: 17px;
            line-height: 77px;
            height: 10px;
        }
    }
    a.title_tab {
        height: 80px;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #48484A;
        //border-right: 1px solid #fff;
    }
    .tab-item-active {
        text-decoration: underline;
    }
    // DIV THING
    // a.webcam_tab.tab-item-active::after {
    //     content: '';
    //     position: absolute;
    //     left: 655px;
    //     top: 23px;
    //     display: inline-block;
    //     height: 10px;
    //     width: 86px;
    //     border-bottom: 1px solid white;
    //     margin-top: 5px;
    //     //        max-width: 90px;
    // }
    // a.model_tab.tab-item-active::after {
    //     content: '';
    //     position: absolute;
    //     left: 526px;
    //     top: 23px;
    //     display: inline-block;
    //     height: 10px;
    //     width: 65px;
    //     border-bottom: 1px solid white;
    //     margin-top: 5px;
    // }
    // a.screen12_tab.tab-item-active::after {
    //     content: '';
    //     position: absolute;
    //     left: 371px;
    //     top: 23px;
    //     display: inline-block;
    //     height: 10px;
    //     width: 94px;
    //     border-bottom: 1px solid white;
    //     margin-top: 5px;
    // }
    #main_title {
        // padding-right: 90px;
        // padding-left: 40px;
    }
    .tab-item:nth-of-type(2) {
        margin-right: -10px;
        margin-left: -80px;
        margin-top: 5px;
        min-width: 300px;
        .icon{


    margin-top: 17px !important;
    height: 32px;
    font-size: 32px;
    margin-right: 80px !important;

        }
    }
}

ion-nav-view {
    ion-nav-view {
        margin-top: 83px !important;
    }
}

// SUBHEADER:
ion-top-menu {
    position: absolute;
    height: 24px;
    width: 100%;
    background: #333;
    color: white;
    z-index: 10;
    //top: 45px !important;
    transition: all .5s;
}

ion-content#main_menu {
    top: 70px;
    position: absolute;
    //    margin-top: 47px;
    transition: all .5s !important;
    .clicker {
        font-size: 22px;
        transition: all .5s;
        //border-bottom: solid 2px black;
        border-top: solid 2px black;
    }
}

ion-top-menu .item {
    background: none;
    border-color: #222;
    color: white;
}

.bevel {
    @include corner-bottom-both-bevel($button-stable-active-border);
    width: 357px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    height: 0;
    div {
        margin-top: -26px;
        margin-left: auto;
        margin-right: auto;
    }
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}
.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1080px;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;

}

#select_bld {
    min-width: 168px;
    text-align: center;
    font-family: "Gotham Narrow Book";
    font-size: 18px;
}

.building_wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#building_menu_wrap {
    margin-top: 0px;
    width: 420px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    -webkit-backface-visibility: hidden;
    .building_wrap {
        //width: 420px;
        transition: all .5s !important;
        -webkit-backface-visibility: hidden;
        //height: 4px;
    }
    #all_buildings {
        position: absolute;
        margin-top: 0px;
        margin-left: -60px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-perspective: 1000;
        span.bld_name {
            left: 38px;
            top: 22px;
            color: #C2C1C2 !important;
            z-index: 999;
        }
        svg,
        span {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            -webkit-perspective: 1000;
            //float: left;
        }
    }
    .building {
        margin-left: 80px;
        position: absolute;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-perspective: 1000;
        span {
            color: #C2C1C2;
            z-index: 999;
        }
        svg,
        span {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            -webkit-perspective: 1000;
            //float: left;
        }
    }
    .M200 {
        top: 0px;
        left: 31px;
        span.bld_name {
            left: 38px;
            top: 17px;
        }
    }
    .M250 {
        top: 66px;
        span.bld_name {
            left: 60px;
            top: 20px;
        }
    }
    .M600 {
        top: 0px;
        left: 156px;
        span.bld_name {
            left: 8px;
            top: 48px;
        }
    }
    .F201 {
        top: 0px;
        left: 219px;
        span.bld_name {
            left: 7px;
            top: 30px;
        }
    }
    .F200 {
        top: 0px;
        left: 288px;
        span.bld_name {
            left: 41px;
            top: 30px;
        }
    }
    span.bld_name {
        font-family: "Gotham Book";
        font-size: 20px;
        position: absolute;
    }
}

.empty {
    background-color: rgba(0, 0, 0, 0);
}

#webcam_assets {
    position: relative !important;
}

// CUSTOMIZED SHIT:
.image_name {
    font-family: "Gotham Narrow Book";
    font-size: 12px;
    color: $base-color !important;
    text-decoration: none;
}

#home_view{
        .close_button {
        position: absolute;
    right: 40px;
    top: 30px;
        //font-size: $close_button_size;
        .ion-close::before {
            color: #808080;
        }
    }
}
// RESET
.reset_buttons{
margin-top: 380px !important;
    margin-right: auto;
    margin-left: auto;
    width: 490px;
    .zoom_buttons{
        margin-top: 40px !important;
    width: 500px !important;
    }
}
.reset{
    font-size: 32px !important;
    width: 238px !important;
    height: 76px !important;

    
}
.reset_title{
    border: none !important;
    font-size: 32px !important;
}