<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{presentation.name}}" id='presentation_view'>
    <ion-content>
        <ion-list>
            <div class="presenation_container">
                <a class="close_button" href="#/tab/dash">
                    <i class="ion-close"></i>
                </a>
                <div class="presentation_titles">
                    <div id="presentation_title">{{project_name | uppercase}}</div>
                    <div id="presentation_subtitle">{{presentation_name}}</div>
                </div>
                <div class="gallery presentation_gal">
                    <div class="row responsive-md " ng-repeat="slide in slides" ng-if="$index % 5 === 0">
                        <ion-item class="col col_slide" ng-if="$index < slides.length" ng-click="postSlide($index + 1)">
                            <img ng-src="{{slides[$index].image}}" width="100%" height="100%" />
                        </ion-item>
                        <ion-item class="col col_slide" ng-if="$index + 1 < slides.length" ng-click="postSlide($index + 2)">
                            <img ng-src="{{slides[$index + 1].image}}" width="100%" />
                        </ion-item>
                        <ion-item class="col col_slide" ng-if="$index + 2 < slides.length" ng-click="postSlide($index + 3)">
                            <img ng-src="{{slides[$index + 2].image}}" width="100%" />
                        </ion-item>
                        <ion-item class="col col_slide" ng-if="$index + 3 < slides.length" ng-click="postSlide($index + 4)">
                            <img ng-src="{{slides[$index + 3].image}}" width="100%" />
                        </ion-item>
                        <ion-item class="col col_slide" ng-if="$index + 4 < slides.length" ng-click="postSlide($index + 5)">
                            <img ng-src="{{slides[$index + 4].image}}" width="100%" />
                        </ion-item>
                    </div>
                </div>
            </div>
        </ion-list>
        <ul id="presentation_controls">
            <li class="rewind_button pres_button" ng-click="postSlide(currentSlide - 1)">
                <i class="ion-ios-skipbackward"></i>
            </li>
            <li class="play_button pres_button" href="#">
                <i class="ion-ios-play"></i>
            </li>
            <li class="forward_button pres_button" ng-click="postSlide(currentSlide + 1)">
                <i class="ion-ios-skipforward"></i>
            </li>
            <li class="counter" href="#">
                {{currentSlide}}/{{slides.length}}
            </li>
        </ul>
    </ion-content>
</ion-view>
