.tabs {
  top: 0px !important; }

ion-top-menu {
  position: absolute;
  height: 0px;
  width: 100%;
  background: #333;
  color: white;
  z-index: 10;
  top: 47px;
  transition: all 0.5s; }

ion-view {
  position: absolute;
  margin-top: 97px;
  transition: all 0.5s !important; }

ion-top-menu .item {
  background: none;
  border-color: #222;
  color: white; }

.list .item.item-accordion {
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear; }

.list .item.item-accordion.ng-hide {
  line-height: 0px; }

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important; }

.gallery {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.pict {
  display: inline-block;
  min-width: 300px;
  min-height: 300px; }

.cust_col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 165px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 165px;
  -ms-flex: 0 0 165px;
  flex: 0 0 165px;
  max-width: 165px;
  max-height: 100px; }
  .cust_col img {
    max-height: 95px; }
