<ion-view view-title="{{video_name}}" has-bouncing="false">
    <div id="video_container">
        <a class="close_button" ui-sref="tab.webcams">
            <i class="ion-close"></i>
        </a>
        <div class="presentation_titles">
            <div id="presentation_title">{{building_name | uppercase}}</div>
            <div id="presentation_subtitle">{{video.name}}</div>
        </div>
        <div class="vertical cross">

                <div class="arrow top">
                    <ng-include src="arrow_template"></ng-include>
                </div>

            <div class="container_v">
              <div class="arrow  left">
                    <ng-include src="arrow_template"></ng-include>
                </div>
                <div class="center">
                </div>

                            <div class="arrow right">
                    <ng-include src="arrow_template"></ng-include>
                </div>
      
            </div>
            
                <div class="arrow  down">
                    <ng-include src="arrow_template"></ng-include>
                </div>
            
        </div>
    </div class="horizontal cross">
    </div>
    </div>
</ion-view>
