
<ion-view view-title="webcams" id="webcams_view">
    <div class="webcam_title">
        <span>
<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="52.2px" height="32.4px" viewBox="0 0 52.2 32.4" enable-background="new 0 0 52.2 32.4" xml:space="preserve"> <path fill="none" stroke="#D9D9D8" stroke-width="1.619" d="M0.8,0.8h50.6v30.8H0.8V0.8z M0.3,16.4h51.4 M26,0v32.4"/>
</svg>
</span>
        <span>FOUR CAMERA VIEW</span>
    </div>
    <div class="camera_buttons">

            <ion-item  ng-click="setLive">LIVE</ion-item>
</div>
    <div class="webcam_title">
        <span>
<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="52.2px" height="32.4px" viewBox="0 0 52.2 32.4" enable-background="new 0 0 52.2 32.4" xml:space="preserve"> <path fill="none" stroke="#D9D9D8" stroke-width="1.619" d="M0.8,0.8h50.6v30.8H0.8V0.8z"/></svg>
        </span>
        <span >FULL SCREEN VIEW</span>
    </div>

    <div class="camera_buttons">
    <div class ="button_columns">
        <ion-item class="camera1 short_btn" ng-click="setActiveWebcam(1)" ng-class="{active: isActive(1)}">CAMERA1</ion-item>
        <ion-item class="camera2 short_btn" ng-click="setActiveWebcam(2)" ng-class="{active: isActive(2)}">CAMERA2</ion-item>
        <ion-item class="camera3 short_btn" ng-click="setActiveWebcam(3)" ng-class="{active: isActive(3)}">CAMERA3</ion-item>

        <ion-item class="live short_btn" ng-click="setLive()" ng-class="{active: isLive()}">LIVE FEED</ion-item>
        </div>
        <ion-item class="panorama" href="#/tab/panoramas/1">PANORAMA</ion-item>
    </div>
    <ion-content id="webcam_assets">
        <ion-list>
   
            <div ng-model="timelapses" ng-model='timelapses' class="accordion_container">
                <ion-item class="item-stable" ng-click="isEnabled(timelapses) || toggleGroup(timelapses)" ng-class="{active: isGroupShown(timelapses) && timelapses.length > 0}">
                    <i class="icon" ng-class="isGroupShown(timelapses) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Timelapses
                </ion-item>
                <div class="row responsive-md item-accordion gallery" ng-show="isGroupShown(timelapses)" ng-repeat="model in timelapses" ng-if="$index % 4 === 0">
                    <ion-item class="col cust_col" ng-if="$index < timelapses.length" href="#">
                        <img ng-src="{{timelapses[$index].image}}" width="100%" height="100%" />
                        <div class="image_name" ng-if="timelapses[$index].name !== undefined">
                            {{timelapses[$index].name}}
                        </div>
                    </ion-item>
                    <ion-item class="col cust_col" ng-if="$index + 1 < timelapses.length" href="#">
                        <img ng-src="{{timelapses[$index + 1].image}}" width="100%" />
                        <div class="image_name" ng-if="timelapses[$index + 1].name !== undefined">
                            {{timelapses[$index + 1].name}}
                        </div>
                    </ion-item>
                    <ion-item class="col cust_col" ng-if="$index + 2 < timelapses.length" href="#">
                        <img ng-src="{{timelapses[$index + 2].image}}" width="100%" />
                        <div class="image_name" ng-if="timelapses[$index + 2].name !== undefined">
                            {{timelapses[$index + 2].name}}
                        </div>
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
